@import url('https://googleapis.com');
body{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: auto;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
header{
    background: rgba(255, 255, 255, 0.699);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.034);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 4px;
    padding: 10px;
}
button{
    background: rgba(255, 255, 255, 0.288);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.062);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border-radius: 4px;
    width: 80px;
    height: 30px;
}
.programs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.card{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.445);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.192);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border-radius: 10px;
    width: 200px;
    height: 300px;
    text-align: center;
    padding: 8px;
}
.activeBtn{    
    background: rgba(131, 127, 127, 0.288);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
}
footer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.562);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.034);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 4px;
    
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.btnicon{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}